body {
  background-color: #000;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.App {
  width: 100%;

  height: 100vh;
}

.board {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
}

.board .items {
  width: 100vh;
  height: 100vh;
  max-width: 400px;
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 7px;
  margin: 0px;
  padding: 0px;
  background-color: white;
  list-style-type: none;
}

.item {
  width: 100%;
  height: 100%;
  background-color: black;
  cursor: pointer;
  font-size: 7em;
  text-align: center;
}

.score-board {
  width: 100%;
  max-width: 500px;
  margin-top: 5vh;
  margin: auto;
  margin-top: 5vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
}

.score-board-item {
  text-align: center;
  margin: 0.5vh;
}

.score-board-item button {
  cursor: pointer;
  width: 75px;
}

.score-board .gamer-score {
  font-weight: 900;
  font-size: 1.9em;
}

.winner {
  margin: 25% auto;
  padding: 15px;
  max-width: 400px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 2.0em;
  border: 5px red dotted;
  cursor: pointer;
}

.current-gamer {
  border-bottom: 5px white solid;
}